{% extends 'base.html' %}

{% block content %}



{% for post in result %}
<div class="col-md-4">
	<div class="post">
		<a class="post-img" href="{% url 'post_detail' post.slug %}"><img src="{{ post.image.url }}" alt=""></a>
		<div class="post-body">
			<div class="post-meta">
				<a class="post-category cat-2" href="{% url 'post_detail' post.slug %}">{{ post.category.title }}</a>
				<span class="post-date">{{ post.created_at }}</span>
			</div>
			<h3 class="post-title"><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h3>
			<p>{{post.description }}</p>
		</div>
	</div>
	
</div>
{% endfor %}

{% endblock %}