<div class="aside-widget">
    <div class="section-title">
        <h2>Больше всего просмотров</h2>
    </div>
    {% for post in posts %}
    <div class="post post-widget">
        <a class="post-img" href="{% url 'post_detail' post.slug %}"><img src="{{ post.image.url }}" alt=""></a>
        <div class="post-body">
            <h3 class="post-title"><a href="blog-post.html">{{ post.title }}</a></h3>
        </div>
        
    </div>
    {% endfor %}


    <!-- <div class="post post-widget">
        <a class="post-img" href="blog-post.html"><img src="./img/widget-2.jpg" alt=""></a>
        <div class="post-body">
            <h3 class="post-title"><a href="blog-post.html">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</a></h3>
        </div>
    </div>

    <div class="post post-widget">
        <a class="post-img" href="blog-post.html"><img src="./img/widget-3.jpg" alt=""></a>
        <div class="post-body">
            <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On The Backend Development Block!</a></h3>
        </div>
    </div>

    <div class="post post-widget">
        <a class="post-img" href="blog-post.html"><img src="./img/widget-4.jpg" alt=""></a>
        <div class="post-body">
            <h3 class="post-title"><a href="blog-post.html">Tell-A-Tool: Guide To Web Design And Development Tools</a></h3>
        </div>
    </div> -->
</div>
