{% extends 'base.html' %}

{% block content %}


<div class="container">
    <!-- row -->
    <div class="row">
        <div class="col-md-8">
            <h1>Регистрация</h1>

            <form method="post">
                {% csrf_token %}
            
                {{ form.as_p }}
                  <button type="submit" class="btn btn-primary btn-block">Регистрация</button>
            </form>
            
        </div>
        <!-- aside -->
        <div class="col-md-4">
            <!-- ad -->
            <div class="aside-widget text-center">
                <a href="#" style="display: inline-block;margin: auto;">
                    <img class="img-responsive" src="./img/ad-1.jpg" alt="">
                </a>
            </div>
            <!-- /ad -->

            <!-- post widget -->
            <div class="aside-widget">
                <div class="section-title">
                    <h2>Most Read</h2>
                </div>

                <div class="post post-widget">
                    <a class="post-img" href="blog-post.html"><img src="./img/widget-1.jpg" alt=""></a>
                    <div class="post-body">
                        <h3 class="post-title"><a href="blog-post.html">Tell-A-Tool: Guide To Web Design And Development Tools</a></h3>
                    </div>
                </div>

                <div class="post post-widget">
                    <a class="post-img" href="blog-post.html"><img src="./img/widget-2.jpg" alt=""></a>
                    <div class="post-body">
                        <h3 class="post-title"><a href="blog-post.html">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</a></h3>
                    </div>
                </div>

                <div class="post post-widget">
                    <a class="post-img" href="blog-post.html"><img src="./img/widget-3.jpg" alt=""></a>
                    <div class="post-body">
                        <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On The Backend Development Block!</a></h3>
                    </div>
                </div>

                <div class="post post-widget">
                    <a class="post-img" href="blog-post.html"><img src="./img/widget-4.jpg" alt=""></a>
                    <div class="post-body">
                        <h3 class="post-title"><a href="blog-post.html">Tell-A-Tool: Guide To Web Design And Development Tools</a></h3>
                    </div>
                </div>
            </div>
            <!-- /post widget -->
        </div>
        <!-- /aside -->
    </div>
    <!-- /row -->
</div>
<!-- /container -->
</div>
<!-- /section -->


{% endblock %}